version: 2.1
jobs:
  build:
    docker:
      - image: python:3.8
    working_directory: /app

    steps:
      - checkout

      - run:
          name: Install dependencies
          command: pip install -r requirements.txt

      - run:
          name: Run tests
          command: python -m unittest test.py

workflows:
  version: 2
  jd-test:
    jobs:
      - build
